{{#each lists as |list|}}
  {{log list}}
  <div class="card" data-id="{{list.id}}">
  <img src="http://media.bizj.us/view/img/1011891/galleria-exterior-food-court-rendering*750xx3944-2219-0-102.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>{{list.name}}</b></h4>
    <p>Budget: ${{list.budget}}</p>
    <button type="button" input="submit" class="btn btn-primary edit-list" data-id="{{list.id}}">Edit </button>
    <button type="button" input="submit" class="btn btn-danger delete-list" data-id="{{list.id}}">Delete </button>
  </div>
</div>
{{/each}}
